EXPO_PUBLIC_SUPABASE_URL=https://ygdkjjgedqtqjkfhvrwk.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlnZGtqamdlZHF0cWprZmh2cndrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3MzM3NTYsImV4cCI6MjA4OTMwOTc1Nn0.si9w1MIczUg8iJ8aOz10KTUME9lGhZ2gu2p2wALgdfs
EXPO_PUBLIC_CINETPAY_SITE_ID=
CINETPAY_API_KEY=
AT_API_KEY=
AT_USERNAME=barahub
